node-red/flows_ser-95-101.json
[{"id":"a42b4966.5ec278","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"735a47fe.9e9b08","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"9092","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77562421.942974","type":"kafka-broker","z":"","broker":"127.0.0.1:9092","clientid":"1"},{"id":"4ac0c80d.bbd88","type":"MySQLdatabase","z":"","host":"192.168.95.107","port":"3306","db":"emlplatform","tz":""},{"id":"164611ea.0df4c6","type":"websocket-client","z":"","path":"wss://192.168.95.107:8080/ams-client/","tls":"","wholemsg":"true"},{"id":"ba93b5a9.a5d4d8","type":"websocket-listener","z":"","path":"wss://192.168.95.107:1307","wholemsg":"true"},{"id":"dbbca090.94bff","type":"inject","z":"a42b4966.5ec278","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["74b4323.a34d0cc","5fd4db57.8e957c","e7dae.dcdee252"]]},{"id":"5a5fc8a6.ca904","type":"debug","z":"a42b4966.5ec278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":200,"wires":[]},{"id":"74b4323.a34d0cc","type":"function","z":"a42b4966.5ec278","name":"","func":"var date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["5a5fc8a6.ca904"]]},{"id":"93827b4e.c1cfc8","type":"debug","z":"a42b4966.5ec278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":540,"wires":[]},{"id":"b05d6b54.6f90d","type":"rdkafka in","z":"a42b4966.5ec278","name":"","topic":"thinh","cgroup":"node-red-rdkafka","autocommit":true,"broker":"77562421.942974","x":610,"y":500,"wires":[["93827b4e.c1cfc8"]]},{"id":"56cc3c3c.9be1ec","type":"rdkafka out","z":"a42b4966.5ec278","name":"","topic":"thinh","key":"","partition":-1,"broker":"77562421.942974","x":790,"y":400,"wires":[]},{"id":"45594ada.474304","type":"mysql","z":"a42b4966.5ec278","mydb":"4ac0c80d.bbd88","name":"","x":610,"y":320,"wires":[["f779b16a.543478","56cc3c3c.9be1ec"]]},{"id":"f779b16a.543478","type":"debug","z":"a42b4966.5ec278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":320,"wires":[]},{"id":"5fd4db57.8e957c","type":"function","z":"a42b4966.5ec278","name":"","func":"msg.topic = \"SELECT * FROM Ne WHERE id=1\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["45594ada.474304"]]},{"id":"493730ad.42c6c8","type":"rdkafka in","z":"a42b4966.5ec278","name":"","topic":"test","cgroup":"node-red-rdkafka","autocommit":true,"broker":"77562421.942974","x":610,"y":580,"wires":[["93827b4e.c1cfc8"]]},{"id":"e7dae.dcdee252","type":"rdkafka out","z":"a42b4966.5ec278","name":"","topic":"test","key":"","partition":-1,"broker":"77562421.942974","x":410,"y":420,"wires":[]}]